<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div class="page-header col-lg-12">
  <h1><%= App.find_by_id(params[:id]).trackName %> <small>stats</small></h1>
</div>
<div class="col-lg-12">
  <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
</div>
<br />
<div class="table-responsive col-lg-12">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Page View</th>
        <th>Convert to App Store</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @mixpanel_live_data = @pagecounts.get_mixpanel_data([App.find_by_id(params[:id]).id.to_s])[App.find_by_id(params[:id]).id.to_s] %>
        <td><%= @mixpanel_live_data['date'] %></td>
        <td><%= @mixpanel_live_data['pageView'] %></td>
        <td><%= @mixpanel_live_data['itunesClick'] %></td>
      </tr>
      <% @pagecounts.each do |pagecount| %>      
        <tr>
          <td><%= pagecount.mixpanel_data %></td>
          <td><%= pagecount.pageview %></td>
          <td><%= pagecount.itunes_clicks %></td>
          <!--
          <td><% link_to 'Show', pagecount %></td>
          <td><% link_to 'Edit', edit_pagecount_path(pagecount) %></td>
          <td><% link_to 'Destroy', pagecount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<!--
<%= link_to 'New Pagecount', new_pagecount_path %>
-->
<script>
function dateBetween(start, end){
  var currentDate = new Date(start);
  var between = [];
  while (currentDate <= end) {
      addingDate = new Date(currentDate);
      if(addingDate.getDate()<9){
        between.push(addingDate.getFullYear()+'-'+(addingDate.getMonth()+1)+'-0'+(addingDate.getDate()+1));
      }
      else{
        between.push(addingDate.getFullYear()+'-'+(addingDate.getMonth()+1)+'-'+(addingDate.getDate()+1));
      }    
      currentDate.setDate(currentDate.getDate() + 1);
  }  
  return between;
}

var mixpanel_data = [];
var pageview = [];
var itunes_clicks = [];

<% @pagecounts.each do |pagecount| %>
  mixpanel_data.push('<%=pagecount.mixpanel_data %>');
  pageview.push(<%=pagecount.pageview %>);
  itunes_clicks.push(<%=pagecount.itunes_clicks %>);
<% end %>

mixpanel_data = mixpanel_data.reverse();
pageview = pageview.reverse();
itunes_clicks = itunes_clicks.reverse();

mixpanel_data.push("<%= @mixpanel_live_data['date'] %>");
pageview.push(<%= @mixpanel_live_data['pageView'] %>);
itunes_clicks.push(<%= @mixpanel_live_data['itunesClick'] %>);

if(mixpanel_data.length>1){
  var start = new Date(mixpanel_data[0]);
  var end = new Date(mixpanel_data[mixpanel_data.length-1]);
  var between = dateBetween(start, end);
  var final_date_array = between;
  console.log(final_date_array);
  var final_pageview_array = [];
  var final_itunes_clicks_array = [];
  console.log(between)
  for(var i=0; i<final_date_array.length; i++){
    j = mixpanel_data.indexOf(between[i]);
    if(pageview[j]===undefined){
      final_pageview = 0;
    }
    else{
      final_pageview = pageview[j];
    }
    if(itunes_clicks[j]===undefined){
      final_itunes_clicks = 0;
    }

    else{
      final_itunes_clicks = itunes_clicks[j];
    }    

    final_pageview_array.push(final_pageview);
    final_itunes_clicks_array.push(final_itunes_clicks);    
  }

}
else{
  var final_date_array = mixpanel_data;
  var final_pageview_array = pageview;
  var final_itunes_clicks_array = itunes_clicks;
}
console.log(final_pageview_array);

$(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '<%=App.find_by_id(params[:id]).trackName %>'
            },
            subtitle: {
                text: 'Source: Mixpanel.com'
            },
            xAxis: {
                categories: final_date_array
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Clicks'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Page View',
                data: final_pageview_array
    
            }, {
                name: 'iTunes Clciks',
                data: final_itunes_clicks_array
    
            }]
        });
    });
    
</script>