<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" id='navbar'>
	<!--container-->
	<div class="container">
		<!--navbar-header-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <!-- 
	    	<a class="navbar-brand" href="#" >MyAppPage <sup>Beta</sup></a>
	    -->
	    <%= link_to "MyAppPage", root_path, :class=>"navbar-brand" %>
		</div>
		<!--navbar-header-->
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<% if user_signed_in?%>
				<li><a href="mailto:josh.jia.chen@gmail.com">Support</a></li>
				<% else %>
				<li>
					<a href="mailto:josh.jia.chen@gmail.com">Support <span class="glyphicon glyphicon-envelope"></span></a>
				</li>
				<li>
					<%= link_to demo_path(:appID=>'471966214'), :target=>"_blank" do %>
						Demo <span class="glyphicon glyphicon-new-window"></span>
					<% end %>
				</li>
				<%end%>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in?%>
					<li>
						<%= link_to apps_path do %>
							<span class="glyphicon glyphicon-home"></span> Feedback
						<% end %>
					</li>
					<li>
						<%= link_to root_path do %>
							<span class="glyphicon glyphicon-plus"></span> New App
						<% end %>
					</li>
					<li><%= link_to 'Account Settings', edit_user_registration_path %></li>
					<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>					
				<%else%>
					<li><%= link_to 'Log in', new_user_session_path %></li>
					<li><%= link_to 'Sign Up', new_user_registration_path %></li>					
				<% end %>
			</ul>
		</div>
	</div>
	<!--container-->
</div>